

.directory {
	padding-top: 20px;

	.directory-entries {
		&.searched {
			margin-top: 20px;
			border-top: 1px solid #ddd;
		}

		.entry {
			@include clearfix;
			border-bottom: 1px solid #ddd;

			.btn {
				@include respond-to( 768px ) {
					float: right;
					margin: 10px 0 0 0;
				}
			}
		}
	}
}


.home .directory {
	padding: 40px 0;

	.directory-search {
		text-align: center;

		label {
			display: block;
			text-transform: uppercase;
			font-size: 1.5em;
			line-height: 1.4em;
		}

		input[type=text] {
			border: 2px solid $grey-light;
		}
	}

}
